<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test project on Django</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated and not user.is_superuser %}
                <p class="top-menu"><a href="{% url "dialogs" %}">Messages</a></p>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Hello, <a href="{% url "dashboard" %}"> {{ user.username }}</a> <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Blog</a></h1>
{#            <h3><a href="/admin/">To admin</a></h3>#}

{#            <span class="logo">Tygydyn</span>#}
{#            {% if request.user.is_authenticated %}#}
{#                <ul class="top-menu">#}
{#                    <li {% if section == "dashboard" %} class="selected"{% endif %}>#}
{#                        <a href="{% url "dashboard" %}">My dashboard</a>#}
{#                    </li>#}
{#                    <li {% if section == "images" %}class="selected"{% endif %}>#}
{#                        <a href="#">Images</a>#}
{#                    </li>#}
{#                    <li {% if section == "people" %}class="selected"{% endif %}>#}
{#                        <a href="#">People</a>#}
{#                    </li>#}
{#                </ul>#}
{#            {% endif %}#}
        </div>
{#        <div>#}
{#            <p>{{ posts }}</p>#}
{#        </div>#}

        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li>
                        {{ message|safe }}
                        <a href="#">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>