{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            {% if post.tags.all %}
                <p class="tags">
                    Tags:
                    {% for tag in post.tags.all %}
                        <a href="{% url "post_list_by_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
{#            todo failed when admin edit or create post because he hasn't Profile #}
            <p class="date">Published: {{ post.published_date }} by <strong><a href="{% url 'user_page' pk=post.author.profile.pk %}">{{ post.author }}</a></strong></p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</a>
            <a href="{% url 'like_increment' pk=post.pk %}">{{ post.like_quantity }} like{{ post.like_quantity|pluralize }}</a>
        </div>
    {% endfor %}
{% endblock %}
